#pdf {
    position: relative;
    top: 0;
    left: 0;
    width: 612px !important;
    height: 792px !important;
}

.tab {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    /* border: 1px solid green; */
    position: relative;
    max-height: 762px;
    width: 572px;
    margin: 20px auto;
}


.tab__header .details {
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    color: #a2a2a2;
}

.tab__header .address {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}


.tab__title {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2D5CAA;
    padding: 5px;
    margin-bottom: 5px;
}

.trepp__tableHeader {
    display: table-header-group;
    font-size: 9px;
    font-weight: bold;
    color: #2c5caa;
}

.trepp__table thead:first-child,
.trepp__table tbody tr:first-child {
    border-top: 1px solid #eee;
}

thead tr th:first-child {
    text-align: left;
}

thead tr th {
    text-align: right;
    font-size: 7px;
}

.trepp__tableData:first-child {
    text-align: left;
}

.trepp__tableData {
    word-wrap: break-word;
    text-align: right;
    vertical-align: middle;
    font-size: 7px;
}

.tables,
.tab__tables {
    position: relative;
    max-height: 690px;
    max-width: 560px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    gap: 10px;
    /* border: 1px solid red; */
    /* margin: 5px auto; */
    margin: 0 auto;
}

tr {
    border-bottom: 1px solid #eee;
}



tbody tr:nth-child(odd) {
    background-color: #F2F8FD;
}

.trepp__table {
    width: 100%;
}

.Financials.tab__table,
.AppraisalLTV.tab__table,
.AppraisalLTV1.tab__table {
    max-width: 560px;
}

.LoanTab .tab__table,
.TitleDataTab .tab__table {
    min-width: 180px;
    max-width: 180px;
}


.GeographicInformation.tab__table,
.PropertyInformationNonAgency.tab__table,
.CherreOwnerData.tab__table,
.CompstakMarketSummary.tab__table,
.EnvironmentalRiskScore.tab__table {}

.CompstakBuildingLeaseInformation.tab__table,
.CompstakTenantLeaseInformation.tab__table,
.CompstakHistoricalTenantLeaseInformation.tab__table {
    width: 560px;
}

table {
    border-collapse: collapse;
}